#grid {
    width: 800px;
    height: 800px;
    border: 1px black solid;
}

.row {
    display: flex;
}

.cell {
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.cell.active {
    background-color: black;
}