#grid {
    display: grid;
    width: 800px;
    height: 800px;
    border: 1px black solid;
}

.row {
    display: flex;
}

.cell {
    box-sizing: border-box;
    border: 1px solid #ccc;
    transition: opacity 0.2s linear;
    background-color: rgba(0, 0, 0, alpha)
}

